/* borders*/
td:nth-child(3n) {
  border-right:2px solid rgb(20,20,20);
}

tr:nth-child(3n) td {
  border-bottom:2px solid rgb(20,20,20);
}

td:nth-child(3n + 1) {
  border-left:2px solid rgb(20,20,20);
}

tr:nth-child(3n + 1) td {
  border-top:2px solid rgb(20,20,20);
}

td:nth-child(9) {
  border-right:none;
}

tr:nth-child(9) td {
  border-bottom:none;
}

td:first-child {
  border-left:none;
}

tr:first-child td {
  border-top:none;
}
/* end borders */

/* cell styling */
td:hover {
  background-color:rgb(75,75,75);
}

td.square-selected {
  background-color:rgb(90,90,90);
}

td.given {
  color:black;
}

td.incorrect {
  color: red;
}
/* end cell styling*/

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content:middle;
  height:100%;
}
.cell {
  flex: 0 0 33.3%;
  font-size:medium;
  font-weight:normal;
  text-align:center;
  color:black;
}

.show {
  visibility:hidden;
}

td {
  text-align:center;
  vertical-align:center;
  font-size:xx-large;
  font-weight:bold;
  border: 1px solid rgb(30, 30, 30);
  background-color:rgb(60,60,60);
  color:rgb(30,30,30);
  overflow-y:hidden;
  overflow-x:hidden;
  width:75px;
  height:75px;
}

table {
  table-layout:fixed;
  width:675px;
  height:675px;
  margin:auto;
  padding: 10px;
  border-spacing: 0px;
}

div.game {
  margin: auto;
  width: 50%;
  padding: 10px;
}